<section id="education">
    <h2 class="section-title">{{education.title}}</h2>
	{{#each education.items}}
        <div class="education-item item">
            <header>
                <h3>{{title}}</h3>
                <ul class="meta">
                    <li>{{timespan}}</li>
                    <li><i class="fa fa-globe"></i> {{location}}</li>
                </ul>
            </header>
			<p>{{body}}</p>
        </div>
	{{/each}}
</section>