<section id="work">
    <h2 class="section-title">{{work.title}}</h2>

	{{#each work.items}}
        <div class="work-item item">
			<div class="content">
                <hgroup>
					<h3>{{title}}, {{organization}}</h3>
                    <h4>{{timelabel}}</h4>
				</hgroup>
                <p>{{description}}</p>
			</div>
			{{#if image}}<img src="{{image}}">{{/if}}
        </div>
	{{/each}}

</section>
