<section id="work">
    <h2 class="section-title">{{work.title}}</h2>
	{{#each work.items}}
        <div class="work-item item">
			{{#if image}}<img src="{{image}}">{{/if}}
            <h3><span>{{timelabel}}</span> {{title}}</h3>
            <p>{{description}}</p>
        </div>
	{{/each}}
</section>
