<section id="work">
    <h2 class="section-title">{{work.title}}</h2>

	{{#each work.items}}
        <div class="work-item item">
			<header>
				<hgroup>
                    <h3>{{title}}</h3>
                    <h4>{{timelabel}}</h4>
				</hgroup>
                {{#if image}}<img src="{{image}}">{{/if}}
            </header>

			<p>{{description}}</p>
        </div>
	{{/each}}

</section>
