<section id="experience">
	<h2 class="section-title">{{experience.title}}</h2>
	{{#each experience.items}}
		<div class="experience-item item">
			<h3>{{title}}, {{organization}}</h3>
			<h4>{{timelabel}}</h4>
			<div class="content">
				<p>{{description}}</p>
				{{#if image}}
					<img src="{{image}}">
				{{/if}}
			</div>
		</div>
	{{/each}}
</section>
